@page "/cadastroclientes"
<h3>Cadastro de Clientes</h3>
<EditForm Model="@cadCliente">
    <div class="d-grid gap-3 border p-3 bg-light">
        <BSInputText class="col-md-12"
                     textField="Nome Completo"
                     @bind-Value="cadCliente.nomeCompleto" />

        <div class="row g-2">
            <BSInputText class="col-md-8"
                         textField="Endereço"
                         @bind-Value="cadCliente.endereco" />

            <BSInputText class="col-md-4"
                         textField="Bairro"
                         @bind-Value="cadCliente.bairro" />
        </div>

        <div class="row g-2">
            <BSInputText class="col-md-4"
                         textField="Município"
                         @bind-Value="cadCliente.municipio" />

            <BSInputText class="col-md-4"
                         textField="Estado"
                         @bind-Value="cadCliente.estado" />

            <BSInputText class="col-md-4"
                         textField="Telefone"
                         @bind-Value="cadCliente.telefone" />
        </div>
    </div>
</EditForm>

@code {
    class CadCliente{
        public string nomeCompleto { get; set; }
        public string endereco { get; set; }
        public string bairro { get; set; }
        public string municipio { get; set; }
        public string estado { get; set; }
        public string telefone { get; set; }
    }

    CadCliente cadCliente = new CadCliente();
}